# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter            |
| RStudio            |
| VSCode with Python |


### Below are a few examples of evaluating arithmetic expressions in Python on Jupyter

In Python, arithmetic expressions can be evaluated using operators like `+`, `-`, `*`, `/`, etc. Let's explore a few examples below:

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science in Jupyter.
- Showcase arithmetic operations using Python in Jupyter.
- Demonstrate conversion of units in Python.

## Author

Lebohang Hlalele